@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-script: var(--font-sacramento), cursive;

  --color-background: #1D1D20;
  --color-foreground: #ededed;

  --color-brand-green: #5bc282;
  --color-brand-yellow: #fccb6e;
  --color-brand-dark: #2a2a2c;
}

:root {
  --background: #1D1D20;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}